# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

a

*.r
.Rapp.history

*.png
*.txt
!config.txt
!FLAPS_beefdairy_20151201_formatted.txt
!randomFarms.txt
*.docx
*.pdf


*.aux

*.log

*.gz

*.tex

.DS_Store
